{% extends 'dogapp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add a Manga {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Create List</button>
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %} style="list-style-type: none; "> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul style="padding: 0;">
        {% for list in user.mangalist.all %}
            <li style="list-style-type: none;"><a href="/{{ list.id }}">{{ list.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}