{% extends 'dogapp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add a Manga {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="container-fluid" style="padding: 20px;">
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Create List</button>
        </form>
    
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %} style="list-style-type: none; "> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <hr>
    <div class="container-fluid" style="padding: 20px;">
        <ul style="display: grid;">
        {% for list in user.mangalist.all %}
            <li style="list-style-type: disclosure-closed; border-bottom: 1px solid black;"><a href="/{{ list.id }}"><h1>{{ list.name }}</h1></a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}