{% extends "dogapp/base.html" %}
{% load crispy_forms_tags %}
{% block title %}View List{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 style="text-align: center;">{{list.name}}</h1>
</div>
<div class="container-fluid" style="justify-content: center; display: flex;">
    <form onsubmit="openLoader()" method="POST">
    {% csrf_token %}
        <input type="text" name="url" style="vertical-align: middle;" placeholder="https://manhwatop.com">
        <button type="submit" name="newManga" value="newManga" class="btn btn-success btn-sm">+</button>
        <span id="sub" style="vertical-align: middle;"></span>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %} style="list-style-type: none;"> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
</div>
<div class="container-fluid" style="justify-content: center; display: flex; padding: 10px;">
    <form method="POST" onsubmit="openLoader()">
        {% csrf_token %}
        <button type="submit" name="checkUpdate" class="btn btn-primary btn-sm" value="check">Check for Updates <i class="bi bi-arrow-clockwise"></i></button>
    </form>
</div>
<hr>
<div class="container-fluid" style="display:flex; flex-wrap: wrap; justify-content: center;">
    {% for manga in list.manga_set.all %}
    <div class="card">
        <form method="POST" action="#">{% csrf_token %}<button type="submit" name="close" class="btn-close" aria-label="Close" value="{{ manga.id }}"></button></form>
        <img src="{{ manga.manga_img }}" style="width: 100%;">
        <div class="text-container">
            <h4><a href="{{ manga.manga_url }}"><b>{{ manga.manga_name }}</b></a></h4>
            <p>Latest Release: {{ manga.latest_update }}</p>
        </div>
        <div class="counter-container">
            <form method="POST">
                {% csrf_token %}
                <button class="decrement btn btn-danger" onclick="decrementCounter({{ manga.id }})" type="button" name="decrement">-1</button>
                <input type="text" class="currentChapter" id="currentChapter {{ manga.id }}" name="currentChapter" value="{{ manga.current_chapter }}">
                <button class="increment btn btn-success" onclick="incrementCounter({{ manga.id }})" type="button" name="increment">+1</button>
                <button class="chapterNum btn btn-secondary" type="submit" name="chapterNum" value="{{ manga.id }}">Update</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}